    <footer>

        	<div class = " container-fluid ">
        		<div class = " row footer-content" >
        			<div class = "col-xs-12 col-md-4">

        				<h1 style="color: white;"> Event Space </h1>
        				<p class = "title">Connact with us</p>
        				<ul class = "footer-social-links">
        					<a href="">
	        					<li class= "ico">
	        						<i class="fab fa-facebook"></i>
	        					</li>
	        				</a>
	        				<a href="">
	        					<li class= "ico">
	        						<i class="fab fa-instagram"></i>
	        					</li>
	        				</a>
	        				<a href="">
	        					<li class= "ico">
	        						<i class="fab fa-twitter"></i>
	        					</li>
	        				</a>
	        				<a href="">
	        					<li class= "ico">
	        						<i class="fab fa-snapchat"></i>
	        					</li>
	        				</a>
        				</ul>
        			</div>

        		</div>
            </div>


     </footer>